@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Neucha&family=Playwrite+VN+Guides&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --padding_top : 40px;
  --padding_left_right : 6vw;
}
:root{
    --primary_bg : rgb(0, 0, 0);
    --secondary_bg : rgb(245,247,249);
    --primary_color : black;
    --secondary_color : white;
}
html{
    font-size: 62.5%;
}
body{
    font-size: clamp(1.45rem, 2vw, 1.7rem);
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.modal{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    inset: 0;
    display: grid;
}
.modal_component{
    width: max-content;
    justify-self: flex-end;
}
.no-scroll{
    overflow: hidden;
}